<div>
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Pathfinding Visualizer</a>
      <ul class="navbar-nav">
        <div class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="algo-dropdown-text">Algorithm:</span>
            </div>
            <select id="algo-dropdown" class="form-control mr-sm-2">
              <option selected>Foo Bar</option>
              <option>Biz Baz</option>
              <option>Lorem ipsum</option>
            </select>
          </div>
          <button class="btn my-2 my-sm-0 mr-sm-2 btn-primary" type="button">Run!</button>
          <button class="btn btn-sm my-2 my-sm-0 mr-sm-2 btn-primary" type="button">Reset All</button>
          <button class="btn btn-sm my-2 my-sm-0 mr-sm-2 btn-primary" type="button">Clear Walls</button>
          <button class="btn btn-sm my-2 my-sm-0 mr-sm-2 btn-primary" type="button">Clear Path</button>
          <button class="btn btn-sm my-2 my-sm-0 mr-sm-2 btn-help" type="button">Help?</button>
        </div>
      </ul>
    </div>
  </nav>

  <footer class="text-center bg-dark text-light">Joshua Ibrom (sk3p7ic), 2022</footer>
</div>
